body {
    background-image:url("../img/catpaws.jpg");
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: large;
}

main {
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 4rem;
}

.qp {
    background-color: #faebd7;
    border-radius: 20px;
    padding: 1.5rem;
}
.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 20rem;
    min-height: 4rem;
    margin: 0;
    padding-bottom: 1rem;
}

button {
    background-color: pink;
    border-radius: 10px;
    border:none;
    margin: 2rem;
    padding: 1rem 2rem;
}

.images {
    height: 20rem !important;
    width: 20rem !important;
}

